@model Role

<h1 class="alert alert-primary">Create a new @Html.DisplayNameFor(c => c.Name)</h1>

<partial name="_CreateEditPartialView" model="@Model" />


@section Scripts{

    <script>
        function SetImgSrc() {
            document.getElementById("photo").src = window.URL.createObjectURL(document.getElementById("imgFormFile").files[0]);

        }
    </script>

}